@import "styles";

Nav {
  background-color: $darkgrey !important;
}

element.style{
  background-color:blue;
}

.bg-dark {
  background-color: $darkgrey !important;
}

.navbar-dark .navbar-brand {
  color: $lightgrey !important;
}

// .nav-link {

// }