//@import "public/assets/fonts";

// Variables

// Colours
$darkblue: #00004b;
$darkgrey: rgb(52, 58, 64);
$grey: grey;
$lightgrey: lightgrey;

// Fonts
//@font-face {
//  font-family: myFirstFont;
//  src: url(RingbearerMedium-w173.ttf);
//}
$defaultFont: "Times New Roman", Times, serif;

body {
  height: 100%;
  background-color: $darkgrey ;
  margin: 0 auto ;
}